/* 1100px */
@media (min-width: 68.75em) {
  .hero__description {
    margin-right: 28rem;
  }
}

/* 1020px */
@media (min-width: 63.75em) {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3.2rem;
  }

  .about__list {
    margin-left: 3.2rem;
  }
}

/* 600px */
@media (min-width: 37.5em) {
  body {
    margin: 4.8rem 1.6rem 4.8rem;
  }

  .smiley--top {
    width: 5.4rem;
    height: 5.4rem;
    margin-bottom: 4.8rem;
  }

  .hero {
    margin-bottom: 6.4rem;
    max-width: 110rem;
  }

  .hero__title {
    font-size: 3.4rem;
  }

  .hero__description {
    font-size: 3rem;
    line-height: 4.2rem;
  }

  main {
    max-width: 110rem;
  }

  /* ABOUT SECTION */
  .about {
    padding: 1.2rem 1.2rem 4.4rem;
    margin-bottom: 6.4rem;
    font-size: 2rem;
  }

  .control-icons {
    width: 6.4rem;
    height: 1.6rem;
    margin-bottom: 3.2rem;
  }

  /* PROJECTS */
  .projects__title {
    text-align: center;
    font-size: 4.2rem;
    margin-bottom: 4.8rem;
  }

  .project__languages {
    font-size: 1.4rem;
  }

  .more-info {
    text-align: center;
  }

  /* FOOTER */
  .smiley--bottom {
    width: 3.2rem;
    height: 3.42rem;
    margin-bottom: 1rem;
  }
}
